<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="form-group">
      <label for="source">Source</label>
      <input #sourceInput type="text" class="form-control" id="source" aria-describedby="source-adddress" placeholder="Source Address">
      <small id="source-adddress" class="form-text text-muted">Sets the origin address for route mining</small>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="form-group">
      <label for="destination">Destination</label>
      <input type="text" class="form-control" id="destination" placeholder="Source Address">
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <button class="btn-lg btn-dark">Process</button>
</div>
